@using AstralProject.Models.TestClasses;
@{
    foreach (var item in Note.GlobalNotes)
    {
        <label>@item.NoteName</label>
        <label>sdfsdf</label>
    }
}
<div>
    <h1>Dratuti</h1>
</div>
